.attendee_list {
  .f-14 {
    font-size: 14px;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .text-warning {
    color: #ffc107;
  }

  .title {
    font-weight: 600;
    padding: 1.5rem 0 0.5rem 0;
  }

  .letters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
      background-color: #a0aec0;
      color: white;
      padding: 5px 10px;
      font-weight: 600;
      border-radius: 5px;
      margin: 2px;

      &:hover {
        background-color: #718096;
        text-decoration: none;
      }

      &.active {
        background-color: #2d3748;
      }
    }
  }

  .alphabet-container {
    margin: 1rem 0;

    .alphabet-title {
      display: inline-block;
      background: #2d3748;
      color: white;
      font-size: 3rem;
      font-weight: 700;
      padding: 0 1rem;
      border-radius: 0.5rem;
    }

    .attendee-list {
      padding: 1rem;
      background-color: whitesmoke;
      border-radius: 8px;

      @media (min-width: 1024px) {
        padding: 2rem;
      }

      .attendee-list-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;

        .left-side {
          display: flex;
          align-items: center;
          justify-content: center;

          .avatar {
            width: 64px;

            img {
              max-width: 100%;
              height: auto;
              border-radius: 9999px;
              object-fit: contain;
            }
          }

          .info {
            padding-left: 1rem;
          }
        }

        .right-side {
          margin: 20px 0;

          @media (min-width: 1024px) {
            margin: 0px;
          }

          .message,
          .contact {
            background-color: #3182ce;
            padding: 10px 20px;
            border-radius: 8px;
            color: white;
            font-size: 14px;

            &:hover {
              text-decoration: none;
              background-color: darken($color: #3182ce, $amount: 10%);
            }
          }

          .contact {
            background-color: #343a40;

            &:hover {
              text-decoration: none;
              background-color: darken($color: #343a40, $amount: 10%);
            }
          }
        }
      }
    }
  }

  .alert-title {
    padding: 13px 16px 0px 13px;
    color: rgba(0, 0, 0, .65);
    font-weight: 600;
    font-size: 27px;
    text-align: center;
  }

  .alert-text {
    font-size: 16px;
    padding: 0 10px;
    color: rgba(0, 0, 0, .64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
  }
}