.initial-avatar {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
}