.contact_list {
    .title {
        font-weight: 500;
        text-transform: capitalize;
    }

    .shared-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem 0;
    }

    .left-side {
        display: flex;
        align-items: center;

        .avatar {
            width: 64px;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 9999px;
            }
        }

        .info {
            padding-left: 1rem;
        }
    }

    .right-side {
        margin: 20px 0;

        @media (min-width: 1024px) {
            margin: 0px;
        }

        .message,
        .contact {
            background-color: #3182ce;
            padding: 10px 20px;
            border-radius: 8px;
            color: white;
            font-size: 14px;

            &:hover {
                text-decoration: none;
                background-color: darken($color: #3182ce, $amount: 10%);
            }
        }

        .contact {
            background-color: #343a40;

            &:hover {
                text-decoration: none;
                background-color: darken($color: #343a40, $amount: 10%);
            }
        }
    }
}