.message_center {
  .f-10 {
    font-size: 10px;
  }
  .f-14 {
    font-size: 14px;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .title {
    font-weight: 600;
    padding: 1.5rem 0 0.5rem 0;
  }
  /* Scrollbar width */
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .message_card {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .left-side,
    .right-side {
      display: flex;
      flex-direction: column;
      height: 75vh;
      overflow-y: hidden;

      .search-box,
      .send-box {
        background-color: #fafafa;
        padding: 10px 13px;
        .search-wrapper,
        .send-wrapper {
          background-color: white;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            flex: 1;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #e3e3e3;
              font-weight: 300;
              margin-left: 20px;
              font-size: 14px;
            }
          }
        }
      }
      .auth-user,
      .user-list,
      .active-chat-user {
        display: flex;
        align-items: center;
        background-color: #eeeeee;
        padding: 10px 15px;
        border-top-left-radius: 8px;

        .avatar {
          width: 64px;
          img {
            max-width: 100%;
            height: auto;
            border-radius: 9999px;
          }
        }
        .info {
          padding-left: 1rem;
          flex: 1;
        }
      }
    }
    .left-side {
      .users-list {
        overflow-y: auto;
      }
      .user-list {
        background-color: white;
        border-radius: 0;
        border-bottom: 1px solid #eeeeee;
        .unread {
          .count {
            background-color: #00af9c;
            font-size: 12px;
            color: white;
            padding: 5px 10px;
            border-radius: 50%;
            font-weight: 600;
          }
        }
      }
    }
    .right-side {
      .active-chat-user {
        border-top-left-radius: 0;
        border-top-right-radius: 8px;
      }
      .send-box {
        background-color: #eee;
      }
      .active-message-window {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        overflow-y: auto;
        //Remove if not required
        background-image: url("https://events.myconferencesuite.com/files/download/file/eyJpdiI6Ik9cL3ZwR3BVVkxYdjl5b2w3VEJRYTRRPT0iLCJ2YWx1ZSI6IkxTekpGYWZGaHF1Y3pSbTR3MnRpbmc9PSIsIm1hYyI6IjQ4ZjAyZWJjMTAwOTViOTNkMjk3ZDIwZTg5ODVjMWRlNjI2ZmNiNThlM2FjNzQ5MTlkMzczNTQ3NjdhMzY5N2YifQ==?action=preview");

        .speech-bubble-left,
        .speech-bubble-right {
          position: relative;
          align-self: flex-start;
          background: #eeeeee;
          font-size: 14px;
          border-radius: 0.4em;
          margin: 10px 20px;
          padding: 5px 15px;
          max-width: 75%;
        }

        .speech-bubble-left:after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 12px solid transparent;
          border-right-color: #eeeeee;
          border-left: 0;
          border-bottom: 0;
          margin-top: -2px;
          margin-left: -7px;
        }

        .speech-bubble-right {
          align-self: flex-end;
        }
        .speech-bubble-right:after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 12px solid transparent;
          border-left-color: #eeeeee;
          border-right: 0;
          border-bottom: 0;
          margin-top: -2px;
          margin-right: -7px;
        }

        .chat-date-wrapper {
          width: 100%;
          font-size: 14px;
          text-align: center;
          .date {
            background: #e2e8f0;
            border-radius: 0.4em;
            padding: 5px 10px;
            margin: 5px 0px;
            display: inline-block;
          }
        }
      }
      .default-message {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        h3 {
          font-weight: 300;
          font-size: 2rem;
        }
      }
    }
  }
}
