.session-schedule-card {
    .session-header {
        background-color: whitesmoke;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 2rem;
        border-radius: 8px;

        .session-title {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .left-side {
                .location {
                    font-size: 14px;
                    margin-bottom: 1rem;
                    color: #2a4365;

                    @media (min-width: 768px) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .session-date-time {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 14px;
            color: #1a202c;

            .remind-btn {
                background-color: #cbd5e0;
                border-radius: 8px;
            }
        }

        .session-speakers-wrapper {
            .title {
                font-weight: 600;
                font-size: 16px;
                color: gray;
            }
        }

        .session-speakers {
            display: flex;
            //   flex-direction: column;
            // align-items: center;
            flex-wrap: wrap;

            //   margin-top: 2rem;
            .speaker {
                display: flex;
                align-items: center;
                padding: 5px 0;
                // justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                    width: 42px;
                    height: 42px;
                }

                .speaker-name {
                    margin: 0;
                    padding: 0 10px;
                    font-size: 14px;
                    color: #2c5282;
                    font-weight: 600;
                }
            }
        }

        .session-operations {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .bookmark-btn {
            font-size: 14px;
            border-radius: 8px;
            background-color: #cbd5e0;
            color: black;
        }

        .summary-btn {
            font-size: 14px;
            border-radius: 8px;
            background-color: #2a4365;
            color: whitesmoke;
        }

        .download-btn {
            font-size: 14px;
            border-radius: 8px;
            border: 1px solid #2d3748;
        }
    }
}

//For Second Design
.clickable-session-card {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: #2c5282;
    }
}