.stream_page {
  max-width: 1920px;
  margin: 0 auto;

  .f-10 {
    font-size: 10px;
  }

  .f-14 {
    font-size: 14px;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .title {
    font-weight: 600;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }

  .req_padding {
    padding: 16px 16px 0 16px;
  }

  /* Scrollbar width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .wrapper {
    padding: 0 24px;

    .video_wrapper iframe {
      width: 100%;
      height: 720px;
    }

    .video_stats {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      >div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(246, 88, 85);
      }
    }

    .left-side {
      .video_info_wrapper {

        .session-header,
        .session-body {
          background-color: whitesmoke;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
          margin: 1rem 0;
          padding: 2rem;
          border-radius: 8px;
        }

        .session-title {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .left-side {
            .location {
              font-size: 14px;
              margin-bottom: 1rem;
              color: #2a4365;

              @media (min-width: 768px) {
                margin-bottom: 0;
              }
            }
          }

          .right-side {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .bookmark-btn {
              font-size: 14px;
              border-radius: 8px;
              background-color: #2d3748;
              color: whitesmoke;
            }

            .session-zoom {
              margin-top: 1rem;
              text-align: center;

              .zoom-btn {
                font-size: 14px;
                border-radius: 8px;
                background-color: #4299e1;
                color: whitesmoke;
              }
            }
          }
        }

        .session-date-time {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          font-size: 14px;
          color: #1a202c;

          .remind-btn {
            background-color: #cbd5e0;
            border-radius: 8px;
          }
        }

        .session-speakers-wrapper {
          .title {
            font-weight: 600;
            font-size: 16px;
            color: gray;
          }
        }

        .session-speakers {
          display: flex;
          //   flex-direction: column;
          // align-items: center;
          flex-wrap: wrap;

          //   margin-top: 2rem;
          .speaker {
            display: flex;
            align-items: center;
            padding: 5px 0;
            // justify-content: center;

            img {
              max-width: 100%;
              height: auto;
              border-radius: 50%;
              width: 42px;
              height: 42px;
            }

            .speaker-name {
              margin: 0;
              padding: 0 10px;
              font-size: 14px;
              color: #2c5282;
              font-weight: 600;
            }
          }
        }

        .download-btn {
          font-size: 14px;
          border-radius: 8px;
          border: 1px solid #2d3748;
        }

        .session-body {
          h5 {
            color: #2c5282;
          }

          ul {
            margin-left: 2rem;
            list-style-type: disc;
          }
        }
      }
    }

    .right-side {
      .operations-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .chat_wrapper,
      .live_users_wrapper {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
        border-radius: 8px;

        .display-box {
          flex: 1;
          max-height: 610px;
          overflow-y: auto;
          padding: 16px;
          border-top: 1px solid #e2e8f0;

          .user-list {
            margin: 0.5rem 0;

            .avatar {
              width: 32px;

              img {
                border-radius: 50%;
                max-width: 100%;
                height: auto;
              }
            }

            .info {
              color: #12818e;
            }
          }
        }

        .input-box {
          background-color: whitesmoke;
          padding: 10px 13px;
          border-top: 1px solid #e2e8f0;

          .input-wrapper {
            background-color: white;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            input {
              background-color: transparent;
              border: none;
              flex: 1;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: #e3e3e3;
                font-weight: 300;
                margin-left: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}