.speakers_dashboard {
  .color-1 {
    color: #00bbd5;
  }
  .color-2 {
    color: #fd5722;
  }
  .color-3 {
    color: #009688;
  }
  .color-4 {
    color: #e91d62;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  .f-12 {
    font-size: 12px;
  }
  .f-14 {
    font-size: 14px;
  }
  .green-text {
    color: #28a745;
  }
  .red-text{
    color : #dc3545;
  }
  .yellow-text {
    color: #fff3cd;
  }
  .rounded-5px {
    border-radius: 5px;
  }
  .title {
    font-weight: 600;
    padding: 1.5rem 0 0.5rem 0;
  }
  .vr {
    height: 5px;
    border-left: 2px solid grey;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .s_card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);
    padding: 22px;

    .card_header {
      font-size: 24px;
      line-height: 29px;
      color: #4f4f4f;
      font-weight: 800;
    }
  }
  .speakers_info_card {
    height: 100%;
    .img_wrapper {
      text-align: center;
      img {
        border-radius: 12px;
        max-width: 100%;
        height: auto;
      }
    }

    .speaker_name {
      font-size: 24px;
      line-height: 29px;
      color: #4f4f4f;
      font-weight: 600;
      padding-top: 24px;
    }
  }

  .speakers_stats_card {
    height: 100%;
    .row {
      padding: 11px;
    }
    .stat_card {
      display: flex;
      padding: 16px;
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      background-color: whitesmoke;

      p {
        margin: 0;
      }
    }
    @media (max-width: 992px) {
      margin: 10px 0;
    }
  }
  .speakers_activity_card {
    margin-top: 10px;
    @media (max-width: 992px) {
      margin-top: 20px;
    }
    ul {
      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
    .session_operations{
      .dropdown-menu{
        .dropdown-item{
          transition: all 0.3s ease;
          cursor: pointer;
          &:focus,&:active{
            background-color: #f8f9fa;
          }
        }
      }
    }
    .q-answered,
    .q-pending {
      padding: 5px 10px;
      margin-left: 5px;
      background-color: seagreen;
      color: white;
      border-radius: 5px;
    }
    .q-pending {
      background-color: #ffc107;
    }
  }
}
